/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.example {
    display: -ms-grid;
    display: grid;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(black));
    background: -o-linear-gradient(top, white, black);
    background: linear-gradient(to bottom, white, black);
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

html {
    background: url(https://w-dog.ru/wallpapers/3/6/529304035733913/yabloko-os-x-mac-volna-volny.jpg) no-repeat fixed center / cover;; 
    position: relative;
    overflow: scroll;
}
body {
    background: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
    color: #000000;
    font-size: 16px;
    font-weight: normal;
    font-family: helvetica

    
}

a {
    color: black;
    text-decoration: none;
}
 
a:hover {
   text-decoration: underline;
}

a:active {
    color:  blue
}

a:visited {
    color: rgb(0, 0, 0)
}
.avatar {
    width: 250px;
    border-radius: 20%;
    -webkit-box-shadow: 4px 4px 14px rgba(0, 0, 0, 25);
            box-shadow: 4px 4px 14px rgba(0, 0, 0, 25);
}


.info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 30px;
    
}

.vk2 {
    width: 15px;
    height: 15px;
}

.instagram {
width: 15px;
height: 15px;
}




@media (max-width: 700px) {
    .info {
        text-align: center;
        display:block;
    }
}

.info-text {
    margin-left: 40px;
}


.info-text h4 {
    margin-bottom: 10px;
}

.info p {
    color: #000000;
    margin: 0;
    font-style: normal;
    font-weight: none;
    text-decoration: none;
    /*text-transform: uppercase;*/
    /*letter-spacing: 1px;*/
    /*word-spacing: 4px;*/

}
/* Box Model*/

.container {
   max-width: 750px;
   margin: auto;
   padding-top: 30px
}


.blog * {
    position: relative;
}


.blog {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
    width: 690px;
    height: 300px;
    -webkit-box-shadow: 1px 1px 4px rgba(14, 14, 14, .3);
            box-shadow: 1px 1px 4px rgba(14, 14, 14, .3);
    border: 15px solid rgba(255, 255, 255, 0.15);
    border-radius: 20px;
    text-align: center;
    color: rgb(7, 0, 0);
    background: inherit;
    
    padding: 15px;
}

.blog:before {
    content: ''; 
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: inherit;
    -webkit-backdrop-filter: blur(100px);
            backdrop-filter: blur(100px);
    -webkit-backdrop-filter: url(#blur);
            backdrop-filter: url(#blur);

}

.blog2 * {
    position: relative;
}

.blog2 {
    position: relative;
    float: left;
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
    width: 340px;
    height: 200px;
    -webkit-box-shadow: 1px 1px 4px rgba(14, 14, 14, .3);
            box-shadow: 1px 1px 4px rgba(14, 14, 14, .3);
    border: 15px solid rgba(255, 255, 255, 0.15);
    border-radius: 20px;
    text-align: center ;
    color: rgb(7, 0, 0);
    background: inherit;
    margin-top: 10px;
    
    

    

}

.blog2:before {
    content: ''; 
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: inherit;
    -webkit-backdrop-filter: blur(100px);
            backdrop-filter: blur(100px);
    -webkit-backdrop-filter: url(#blur);
            backdrop-filter: url(#blur);
}
    



.blog3 * {
    position: relative;
}


.blog3 {
    position: relative;
    float: right;
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
    width: 340px;
    height: 200px;
    -webkit-box-shadow: 1px 1px 4px rgba(14, 14, 14, .3);
            box-shadow: 1px 1px 4px rgba(14, 14, 14, .3);
    border: 15px solid rgba(255, 255, 255, 0.15);
    border-radius: 20px;
    text-align: center ;
    color: rgb(7, 0, 0);
    background: inherit;
    margin-top: 10px;
    
    
    
}

.blog3:before {
    content: ''; 
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: inherit;
    -webkit-backdrop-filter: blur(100px);
            backdrop-filter: blur(100px);
    -webkit-backdrop-filter: url(#blur);
            backdrop-filter: url(#blur);
}

.box {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    font-family: sans-serif;
    text-align: center;
    line-height: 1;
   -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    max-width: 50%;
    max-height: 50%;
    padding: 20px 40px;
  }

.contact {
    text-align: center;
}

.form-group label {
 display: block;
 font-size: 14px;
 color: #86898f
}

.form-group input,
.form-group textarea {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid #ccc;
    color: #000;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;

}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px;
}

.row > .form-group {
    width: 50%;
    margin-right: 20px;
}
.row > .form-group:last-child {
    margin-right: 0;

}

.btn{
    background : rgb(177, 175, 175);
    padding: 15px 20px;
    color: #fff;
    border-radius: 50px;
    font-family: inherit;
    -webkit-transition-duration: 0.4s; 
    -o-transition-duration: 0.4s; 
       transition-duration: 0.4s;
    

}

.btn:hover {
    
    color: rgb(146, 146, 146);
}
