/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.example {
    display: -ms-grid;
    display: grid;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(black));
    background: -o-linear-gradient(top, white, black);
    background: linear-gradient(to bottom, white, black);
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

html {
    background: url(https://mobimg.b-cdn.net/v3/fetch/a2/a21e1a6691a84d05d43e15576de83449.jpeg) no-repeat fixed center / cover;; 
    position: relative;
    overflow: scroll;
}
body {
    background: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
    color: #000000;
    font-size: 16px;
    font-weight: normal;
    font-family: helvetica

    
}

a {
    color: black;
    text-decoration: none;
}
 
a:hover {
   text-decoration: underline;
}

a:active {
    color:  blue
}

a:visited {
    color: rgb(0, 0, 0)
}
.avatar {
    width: 250px;
    border-radius: 20%;
    -webkit-box-shadow: 4px 4px 14px rgba(0, 0, 0, 25);
            box-shadow: 4px 4px 14px rgba(0, 0, 0, 25);
}


.info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 30px;
    
}

.vk2 {
    width: 15px;
    height: 15px;
}

.instagram {
width: 15px;
height: 15px;
}




@media (max-width: 700px) {
    .info {
        text-align: center;
        display:block;
    }
}

.info-text {
    margin-left: 40px;
}


.info-text h4 {
    margin-bottom: 10px;
}

.info p {
    color: #000000;
    margin: 0;
    font-style: normal;
    font-weight: none;
    text-decoration: none;
    /*text-transform: uppercase;*/
    /*letter-spacing: 1px;*/
    /*word-spacing: 4px;*/

}
/* Box Model*/

.container {
   max-width: 750px;
   margin: auto;
   padding-top: 30px
}




.contact {
    text-align: center;
}

.form-group label {
 display: block;
 font-size: 14px;
 color: #86898f
}

.form-group input,
.form-group textarea {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid #ccc;
    color: #000;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;

}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px;
}

.row > .form-group {
    width: 50%;
    margin-right: 20px;
}
.row > .form-group:last-child {
    margin-right: 0;

}

.btn{
    background : rgb(177, 175, 175);
    padding: 15px 20px;
    color: #fff;
    border-radius: 50px;
    font-family: inherit;
    -webkit-transition-duration: 0.4s; 
    -o-transition-duration: 0.4s; 
       transition-duration: 0.4s;
    

}

.btn:hover {
    
    color: rgb(146, 146, 146);
}
